<footer>
  <hr>
  <div class="container">
    <div class="row text-center">
      <div class="btn-group btn-group-lg">
        {% if site.github_username %}
        <a role="button" class="btn btn-default" href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
        {% endif %}
        {% if site.twitter_username %}
        <a role="button" class="btn btn-default" href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>
        </a>
        {% endif %}
        {% if site.youtube_username %}
        <a role="button" class="btn btn-default" href="https://www.youtube.com/user/{{ site.youtube_username }}">
            <i class="fa fa-youtube"></i>
        </a>
        {% endif %}
        {% if site.instagram_username %}
        <a role="button" class="btn btn-default" href="http://instagram.com/{{ site.instagram_username }}">
          <i class="fa fa-instagram"></i>
        </a>
        {% endif %}
        {% if site.facebook_username %}
        <a role="button" class="btn btn-default" href="http://facebook.com/{{ site.facebook_username }}">
          <i class="fa fa-facebook"></i>
        </a>
        {% endif %}
      </div>
    </div>
    <div class="row text-center">
      <p>{{ site.description }} | Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
  </div>
</footer>