---
layout: default
---
<div class="panel panel-default">
	<div class="panel-body">
		<div style="text-align: justify;text-justify: inter-word;">
			<div>
				<h1 class="post-title">{{ page.title }} <small>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small></h1>
				
				<article class="post-content" style="text-align: justify;text-justify: inter-word;">
				{{ content }}
				</article>
				<div class="row">
					<div class="col-md-12 col-xs-12">
						{% include pub.html %}
					</div>
				</div>
				{% include disqus.html %}
			</div>
		</div>
	</div>
</div>

